requests
python-dotenv
gradio
pypdf
openai
openai-agents
chromadb
plotly
jupyter-dash
beautifulsoup4
pydub
modal
ollama
accelerate
sentencepiece
bitsandbytes
psutil
setuptools
speedtest-cli
sentence_transformers
feedparser
langchain
langchain-openai
langchain_experimental
openpyxl
yfinance 
requests 
pandas 
fuzzywuzzy 
python-Levenshtein
numpy 